@{
Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome to Dr. S's Factory Maintenance Tracker</h1>
<hr>
<h3>Machines</h3>
@if (Model["machines"].Length == 0)
{
  <p class="error">No machines have been added yet</p>
}
<ul class="list">
  @foreach (Machine mac in Model["machines"])
  {
    <li>@Html.ActionLink(@mac.BrandName +" "+ @mac.ModelName, "Details","Machines", new { id = @mac.MachineId })</li>
  }
</ul>


<h3>Engineers</h3>
@if (Model["engineers"].Length == 0)
{
  <p class="error">No engineers have been added yet</p>
}
<ul class="list">
  @foreach (Engineer eng in Model["engineers"])
  {
    <li>@Html.ActionLink(@eng.FirstName + " " + @eng.LastName, "Details", "Engineers", new { id = @eng.EngineerId })</li>
  }
</ul>
<a href="/Machines/Create"><button type="button" class="btn btn-primary">Add New Machine</button></a>
<a href="/Engineers/Create"><button type="button" class="btn btn-secondary">Add New Engineer</button></a>

